# Un programa Python

In [2]:
# program.py
sum = 1 + 2
print(sum)

3

## La función print()

In [3]:
print('Hola desde la consola')

Hola desde la consola

## Variables

In [4]:
sum = 1 + 2 # 3
product = sum * 2
print(product)

6

## Tipos de datos

In [5]:
planetas_en_el_sistema_solar = 8 # int, plutón era considerado un planeta pero ya es muy pequeño
distancia_a_alfa_centauri = 4.367 # float, años luz
puede_despegar = True
transbordador_que_aterrizo_en_la_luna = "Apollo 11" #string

In [6]:
planetas_en_el_sistema_solar

8

In [7]:
distancia_a_alfa_centauri

4.367

In [8]:
puede_despegar

True

In [9]:
transbordador_que_aterrizo_en_la_luna

'Apollo 11'

In [10]:
type(distancia_a_alfa_centauri)

float

In [11]:
# Declaramos la variable
distancia_a_alfa_centauri = 4.367

# Descubrimos su tipo de dato
type(distancia_a_alfa_centauri)

float

## Operadores

In [12]:
left_side = 10
right_side = 5
left_side / right_side # 2

2.0

### Operadores aritméticos

In [14]:
1+1

2

In [15]:
1-2

-1

In [16]:
10/2

5.0

In [17]:
2*2

4

### Operadores de asignación

In [18]:
x=2

In [21]:
x += 2

In [22]:
x -= 2

In [23]:
x /= 2

In [24]:
x *= 2

## Fechas

In [25]:
from datetime import date

In [26]:
print(date.today())

2022-02-10

In [28]:
# Importamos la biblioteca 
from datetime import date

# Obtenemos la fecha de hoy
date.today()

# Mostramos la fecha en la consola
print(date.today())

2022-02-10

## Conversión de tipos de datos

In [29]:
print("Today's date is: " + str(date.today()))

Today's date is: 2022-02-10

In [30]:
print("Hola, hoy es: " + str(date.today()))

Hola, hoy es: 2022-02-10

## Recopilar información

### Entrada del usuario

In [31]:
print("Bienvenido al programa de bienvenida")
name = input("Introduzca su nombre ")
print("Saludos: " + name)

Bienvenido al programa de bienvenida
Saludos: Adriana

### Trabajar con números

In [32]:
print("Calculadora")
first_number = input("Primer número: ")
second_number = input("Segundo número: ")
print(int(first_number) + int(second_number))

Calculadora
7